<div class="card" style="max-width: 100%; height: auto;">
            <div class="card-header">
               Profile
            </div>
            <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1174115805023350785/KC5W0Ss4_400x400.jpg" alt="Card image"
               style="width:100%">
            <div class="card-body">
               <h4 class="card-title">{{getName()}}</h4>
               <p class="card-text">
				<li>StudentID: {{id}}</li>
				<li>Age: {{2020-year}}</li>
               </p>
               <a href="#" class="btn btn-primary">See Profile</a>
            </div>
         </div>
      