<div class="card">
	<div class = "card-header bg-secondary text-white">
		ngFor Directive
	</div>
	
	<div class="card-body">
		<h2>Employee</h2>
		<table class="table table-striped table-inverse">
			<thead class="thead-inverse">
				<tr>
					<th>ID.</th>
					<th>Name</th>
					<th>Salary</th>
					<th>Age</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let item of employee">
					<td scope="row">{{item.id}}</td>
					<td>{{item.employee_name}}</td>
					<td>{{item.employee_name}}</td>
					<td>{{item.employee_name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>