<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add Product</h4>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <form [formGroup]="productForm">
                    <div class="card">
                        <div class="card-header">
                            Product Form
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    Product Type:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="type">
                                          <option value=""></option>
                                          <option *ngFor="let item of productType" [value]="item">{{item}}</option>
                                        </select>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Product ID:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="number" class="form-control" formControlName='id'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Product Name:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='name'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Product Detail:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='detail'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Quantity:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="number" class="form-control" formControlName='quantity'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Price:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="number" class="form-control" formControlName='price'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Image:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="file" class="form-control-file" formControlName='file' (change)="onChangeImg($event)">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-9">
                                    <img *ngIf="previewLoaded" class="img-thumbnail" [src]="this.productForm.value.img" style="height:150px;">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" (click)="addProduct()">Add</button>&nbsp;
                                    <button type="reset" class="btn btn-danger" (click)="resetForm()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>